{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    
    {% block styles %}
    
    {% endblock styles %}

    <link rel="stylesheet" href="{% static './styles.css' %}">
    <title> 
    
    {% block title %}
    
    {% endblock title %}


        
    </title>
    
</head>

<body>
    <header>
        {% include "./partials/menu.html"  %}
    </header>

<main>

    {% block content %}

    {% endblock content %}
    
</main>


{% include "./partials/footer.html" %}
    
    
{% block scripts %}
    
{% endblock scripts %}

</body>

</html>
