<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple</title>
</head>
<body>
    <h1>Hola {{name}} </h1>
    <h3>Categorias</h3>
    <ul>
    {# Comentario #}
    
    {% comment %} 
    
    Comentario 
    
    {% endcomment %}
        {% for categoria in categories %}
        {% if categoria == 'django' %}
        <li><strong>{{categoria|upper}}</strong></li>
        {% else %}
        <li>{{categoria}}</li>
        {% endif %}
        {% endfor %}
        <h5>Total de categorias: {{categories|length}}</h5>
    </ul>
    
</body>
</html>